<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Gallery project</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>

  <body>
    <h1>My Gallery</h1>

    <div class="container"> 
			<img class="pic" src="/assets/pic/<%= pic %>">
    </div>

    <div class="container">
      <% thDb.forEach(th => { %>
        <img src="/assets/th/<%= th %>">
      <% }); %>
    </div>
  </body>

</html>