<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Reddit Frontend666</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>

  <body>
    666
wwwwwwwwwwwwwwwwwwwwwwwwwwww
    <script src="posts.js" type="application/javascript"></script>

  </body>


</html>