<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore App | Books</title>
  </head>
  <body>
    <h1>Books</h1>
    <ul>
      <% konyv.forEach((k) => { %>
        <li><%= k.book_id %></li>
      <% }) %>
    </ul>
  </body>
</html>