<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foxplayer</title>
</head>
<body>

  Playlists yooooo

  <ul>
    <% playlists.forEach((p) => { %>
      <li><%= p.playlist %></li>
    <% }) %>
  </ul>


</body>
</html>