* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/bg.jpg");
}

header {
  text-align: center;
  margin: 3% 0;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#photo-viewer {
  max-height: 531px;
  max-width: 900px;
  width: 100%;
  display: flex;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.48);
}

.arrow {
  background-color: white;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow img:hover {
  filter: brightness(200%);
}

#right-arrow {
  transform: rotate(180deg);
}

#main-pic {
  position: relative;
  width: 94%;
}

#pic-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(30, 30, 30, 0.6)
}

#pic-text {
  padding: 2%;
}

#title {
  padding-bottom: 2%;
  color: white;
  font-size: 30px;
}

#text {
  font-size: 20px;
  color: lightgray;
}

#thumbnails {
  max-width: 500px;
  width: 50%;
  display: flex;
  margin: 2% 4%;
  justify-content: space-between;
}

#thumbnail {
  border: 3px solid white;
  box-shadow: 0 5px 5px -5px black;
  position: relative;
}

#tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
}

#thumbnail:hover #tooltip {
  visibility: visible;
}

.selected {
  position: relative;
  bottom: 10px;
  display: block;
  box-shadow: 0 15px 10px -6px black!important;
  z-index: 2;
}