/* * {
    margin: 0;
} */

header {
    text-align: center;
}

/* .main {
    position: relative;
    display: flex;
    text-align: center;
} */

/* .container {
    flex: 0 1 40%;
    justify-content: space-between;
    flex-basis: 240px;
} */

.picture {
    position: relative;
    text-align: center;
    color: white;
}

#main-pic {
    width: 50%;
}

.text {
    font-size: 30px;
    position: absolute;
    bottom: 8px;
    left: 25%;
}