/* * {
    margin: 0;
} */

body {
    background-image: url("./assets/bg.jpg");
}

header {
    text-align: center;
}

/* .main {
    position: relative;
    display: flex;
    text-align: center;
} */

/* .container {
    flex: 0 1 40%;
    justify-content: space-between;
    flex-basis: 240px;
} */

#right-arrow {
    transform: rotate(180deg);
}

.picture {
    position: relative;
    text-align: center;
    color: white;
}

#main-pic {
    width: 50%;
}

.title {
    text-align: left;
    width: 50%;
    background: rgba(37, 37, 37, 0.5);
    font-size: 40px;
    position: absolute;
    bottom: 36px;
    left: 25%;
}

.text {
    text-align: left;
    width: 50%;
    background: rgba(37, 37, 37, 0.5);
    font-size: 30px;
    position: absolute;
    bottom: 8px;
    left: 25%;
}

.thumbnails {
    text-align: center;   
}